<div class="basic_info_of_company">
    <div class="row align-items-center">
       <div class="col-md-3">
          <div class="company_logo">
             
             <% if(company && company.logo) { %>
             <a href="#"><img src="/<%= company.logo %>" alt="company"></a>
             <%} else {%>
                <a href="#"><img src="/front-end/images/company-placeholder-image.png" alt="company" ></a>
                <% } %>
          </div>
       </div>
       <div class="col-md-6">
          <div class="company_details">
             <div class="row">
                <div class="col-sm-12">
                   <h2 class="company_name"><%= company && company.company_name ? company.company_name : '' %></h2>
                </div>
                
                <% if(company && company.comp_email){ %>
                  <div class="col-sm-6">
                     <p class="common_style"><i class="fas fa-envelope"></i><a
                           href="mailto:<%= company && company.comp_email ? company.comp_email : '' %>"><%= company && company.comp_email ? company.comp_email : '' %></a></p>
                  </div>
                <% } %>
                <% if(company && company.comp_phone ){ %>
                <div class="col-sm-6">
                   <p class="common_style"><i class="fas fa-mobile"></i><a
                         href="tel:<%= company && company.comp_phone ? company.comp_phone : '' %>"><%= company && company.comp_phone ? company.comp_phone : '' %></a></p>
                </div>
                <% } %>
                <% if(company && company.main_address ){ %>
                <div class="col-sm-12">
                   <p class="common_style"><i class="fas fa-map-marker-alt"></i> <%= company && company.main_address ? company.main_address : '' %></p>
                </div>
                <% } %>
             </div>
          </div>
       </div>
       <div class="col-md-3">
          <div class="overall_score">
             <div class="button_group">
                <a class="free" href="#">Free</a>
                <a class="switch_to_premium" href="#">switch to premium</a>
             </div>
             <div class="score_info">
                <div class="d-flex align-items-center mb-2">
                   <div class="review_count">4.5</div>
                   <div class="emoji_respective_review">
                      <img src="/front-end/images/4-5.gif" alt="">
                   </div>
                </div>
                <p>Total Review 1,117</p>
             </div>
          </div>
       </div>
    </div>
</div>
<div class="company_profile_navigation">
    <ul>
       <li <% if( menu_active_id == 'basic-company-dashboard') { %>  class="active" <% } %> ><a href="/basic-company-profile/<%= company.ID  %>"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
       <li><a href="#"><i class="fas fa-envelope"></i> My Reviews</a></li>
       <li <% if( menu_active_id == 'basic-company-management') { %>  class="active" <% } %>>
         <a href="#"><i class="fas fa-user-tie"></i> Profile</a>
         <ul>
            <li><a href="/myprofile">User Profile</a></li>
            <li><a href="/basic-company-profile-management/<%= company.ID  %>">Company Profile</a></li>
        </ul>
      </li>
       <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
       <li><a href="#"><i class="fas fa-lock"></i> Change Password</a></li>
       <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</div>