<%- include('common/header') -%>
    <link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
    <link href="/front-end/css/business-profile-manage-style.css" rel="stylesheet" type="text/css">
    <%- include('common/header-banner') -%>

        <!-- ============== Section1 Start =============== -->
        <section class="main-content about-content2 py-3">
            <div class="container">
                <div class="company_profile_management">

                    <div class="basic_info_of_company">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="company_logo">
                                <a href="#"><img src="/front-end/images/feature-logo1.png" alt="samsung"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="company_details">
                                <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="company_name">Company Name</h2>
                                </div>
                                <div class="col-sm-6">
                                    <p class="common_style"><i class="fas fa-envelope"></i><a
                                            href="mailto:johndoe12@gmail.com">johndoe12@gmail.com</a></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="common_style"><i class="fas fa-mobile"></i><a
                                            href="tel:+9876543210">+9876543210</a></p>
                                </div>
                                <div class="col-sm-12">
                                    <p class="common_style"><i class="fas fa-map-marker-alt"></i> EE 91, EE Block, Sector
                                        II, Bidhannagar, Kolkata, West Bengal 700091</p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="overall_score">
                                <div class="button_group">
                                <a class="free" href="#">Free</a>
                                <a class="switch_to_premium" href="#">switch to premium</a>
                                </div>
                                <div class="score_info">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="review_count">4.5</div>
                                    <div class="emoji_respective_review">
                                        <img src="/front-end/images/4-5.gif" alt="">
                                    </div>
                                </div>
                                <p>Total Review 1,117</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="company_profile_navigation">
                        <ul>
                            <li><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                            <li><a href="#"><i class="fas fa-envelope"></i> My Reviews</a></li>
                            <li class="active">
                                <a href="#"><i class="fas fa-user-tie"></i> Profile</a>
                                <ul>
                                    <li><a href="#">User Profile</a></li>
                                    <li><a href="#">Company Profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="fas fa-lock"></i> Change Password</a></li>
                            <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                    <form id="basic_company_profile_form" enctype="multipart/form-data">
                        <input type="hidden" name="company_id" value="<%= company.ID  %>"/>
                        <input type="hidden" name="previous_logo" value="<%= company.logo %>"/>

                        <div class="each_box update_basic_information">
                            <h2>Basic informations</h2>
                            <div class="row align-items-center mb-3">
                                <div class="col-sm-7 col-md-8 col-lg-10">
                                    <label for="upload-company-logo" class="form-label">Upload logo</label>
                                    <input class="form-control" type="file" id="upload-company-logo">
                                </div>

                                <div class="col-sm-5 col-md-4 col-lg-2">
                                    <div class="display_image_box">
                                        <% if(company && company.logo) { %>
                                        <img id="company_logo_preview" src="/<%= company.logo %>"  alt="">
                                        <%} else {%>
                                            <img id="company_logo_preview" src="/front-end/images/company-placeholder-image.png"  alt="">
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="company-email" class="form-label">Email<sup>*</sup></label>
                                        <input type="email" class="form-control" id="company-email"
                                            placeholder="name@example.com" value="<%= company && company.comp_email ? company.comp_email : '' %>" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="company-phone-number" class="form-label">Phone no<sup>*</sup></label>
                                        <input type="number" class="form-control" id="company-phone-number"
                                            placeholder="1234567890" value="<%= company && company.comp_phone ? company.comp_phone : '' %>" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="company-customercare-number" class="form-label">Customer care
                                            no<sup>*</sup></label>
                                        <input type="number" class="form-control" id="company-customercare-number"
                                            placeholder="1800 0000 00" value="<%= company && company.tollfree_number ? company.tollfree_number : '' %>" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="company-address" class="form-label">Address<sup>*</sup></label>
                                        <input type="text" class="form-control" id="company-address" value="<%= company && company.main_address ? company.main_address : '' %>" placeholder=""
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="about-company" class="form-label">About the company<sup>*</sup></label>
                                        <textarea class="form-control" id="about-company" placeholder="" rows="5"
                                            required><%= company && company.about_company ? company.about_company : '' %></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="company-tagline" class="form-label">Tagline</label>
                                        <input type="text" class="form-control" id="company-tagline" placeholder="" value="<%= company && company.heading ? company.heading : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="submit_button" ">
                            <button type="submit" class="btn btn-primary ">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- ============== Section6 End =============== -->
        <%- include('common/footer') -%>

            <script>
                jQuery(function ($) {
                    $(document).ready(() => {

                        $('#upload-company-logo').change(function () {
                            const file = this.files[0];
                            console.log(file);
                            if (file) {
                                let reader = new FileReader();
                                reader.onload = function (event) {
                                    console.log(event.target.result);
                                    $('#company_logo_preview').attr('src', event.target.result);
                                }
                                reader.readAsDataURL(file);
                            }
                        });

                     
                        $('form#basic_company_profile_form').submit(function (e) {
                            e.preventDefault();
                            //alert('aaaaaa');
                            $('.submit-message').hide();
                            $('.submit-message').text('');
                            const formData = new FormData($('#kt_account_profile_details_form')[0])
                            console.log(formData);
                            return false;
                            //const formData = $('#feedback_form').serializeArray();
                            //const jsonData = {};
                            // $(formData).each(function (index, field) {
                            // jsonData[field.name] = field.value;
                            // });
                            //console.log(jsonData);
                            $.ajax({
                            url: '/auth/basic_company_profile_update', // URL for your API endpointmethod: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.status == 'ok') {
                                $('.submit-message').text(data.message);
                                $('.submit-message').show();
                                //window.location.href = "/contact-us";
                                } else {
                                $('.submit-message').text(data.message);
                                $('.submit-message').show();
                                console.log('Some thting went wrong');
                                }
                            },
                            error: function (xhr, status, error) {
                                // Handle any errors that occur during the request
                                console.log(error);
                            }
                            })
                        });

                    });
                });
            </script>