<%- include('common/header') -%>
<link href="/front-end/css/category-profile-style.css" rel="stylesheet" type="text/css">
   <%- include('common/header-banner') -%>
   <!-- ============== Section1 Start =============== -->
   <section class="main-content bottom-main-content category-free">
    <div class="container">
       <div class="company-profile">
          <div class="company-logo">
             <a href="#"><img src="/front-end/images/company-logo1.png" alt="img" loading="lazy" width="260" height="260"></a>
          </div>
          <div class="company-info">
             <h3>
                Samsung Electronics 
                <span class="verified-tag">
                   <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g id="Group">
                         <path id="Vector" d="M20.6508 3.69775C20.752 3.72507 20.8403 3.7788 20.903 3.8512C20.9658 3.92361 20.9997 4.01095 21 4.10068V8.43734C21 20.1051 11.6828 22.1556 10.6018 22.3546C10.5347 22.3669 10.4653 22.3669 10.3982 22.3546C9.31715 22.1556 0 20.1051 0 8.43734V4.10068C0.000265467 4.01095 0.0342165 3.92361 0.0969704 3.8512C0.159724 3.7788 0.248048 3.72507 0.349239 3.69775C6.13839 2.10529 9.34637 0.535964 10.2398 0.0636245C10.3177 0.0220614 10.4079 0 10.5 0C10.5921 0 10.6823 0.0220614 10.7602 0.0636245C11.6536 0.534422 14.8616 2.10529 20.6508 3.69775Z" fill="#E8EDF4"/>
                         <path id="Vector_2" d="M10.7223 20.3267C10.5765 20.3676 10.4189 20.3676 10.2731 20.3267C8.2279 19.7618 2.28125 17.35 2.28125 8.43644V5.6078C2.28207 5.48298 2.32857 5.36144 2.41439 5.25983C2.50021 5.15821 2.62114 5.08151 2.7606 5.04022C5.3081 4.30068 7.7829 3.39331 10.1622 2.32648C10.2653 2.27886 10.3809 2.25391 10.4984 2.25391C10.6159 2.25391 10.7315 2.27886 10.8346 2.32648C13.2141 3.39335 15.689 4.30072 18.2367 5.04022C18.3761 5.08151 18.4971 5.15821 18.5829 5.25983C18.6687 5.36144 18.7152 5.48298 18.716 5.6078V8.43644C18.716 17.3461 12.7767 19.7591 10.7223 20.3267Z" fill="#39B54A"/>
                         <path id="Vector_3" d="M8.06551 14.4237L5.72675 12.3801C5.56468 12.2381 5.47488 12.0482 5.47659 11.851C5.47829 11.6538 5.57137 11.465 5.73588 11.3251L6.3499 10.8042C6.43358 10.7329 6.53344 10.6767 6.64349 10.6389C6.75355 10.6011 6.87152 10.5824 6.99032 10.5841C7.10911 10.5857 7.22629 10.6077 7.3348 10.6485C7.44332 10.6894 7.54093 10.7484 7.62177 10.8219L8.56449 11.6768L13.2667 6.82844C13.3402 6.7523 13.4309 6.68922 13.5335 6.64283C13.6361 6.59644 13.7486 6.56767 13.8644 6.55817C13.9802 6.54867 14.0971 6.55864 14.2083 6.58748C14.3196 6.61633 14.423 6.6635 14.5125 6.72626L15.1973 7.20361C15.3784 7.33086 15.4928 7.51339 15.5153 7.71148C15.5379 7.90957 15.4669 8.10717 15.3178 8.26126L9.38303 14.3782C9.30412 14.4595 9.20569 14.5259 9.09424 14.5729C8.98278 14.6198 8.86081 14.6463 8.73636 14.6506C8.61191 14.6549 8.48779 14.6369 8.37217 14.5978C8.25654 14.5587 8.15203 14.4993 8.06551 14.4237Z" fill="white"/>
                      </g>
                   </svg>
                   verified business
                </span>
             </h3>
             <div class="company-rating-review">
                <span class="rating-point">4.5</span> 
                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M30.639 31.0618C32.1577 29.5873 33.3583 27.8174 34.1669 25.8612C34.9755 23.905 35.375 21.8039 35.3406 19.6874V19.2778C35.3739 17.165 34.9739 15.0677 34.1653 13.1154C33.3567 11.1631 32.1565 9.39723 30.639 7.92672C29.1678 6.40592 27.4009 5.20244 25.447 4.39041C23.4931 3.57838 21.3936 3.175 19.2779 3.20512C17.1601 3.17106 15.058 3.5726 13.1019 4.38482C11.1458 5.19704 9.37753 6.40261 7.90678 7.92672C6.38924 9.39723 5.18913 11.1631 4.3805 13.1154C3.57186 15.0677 3.17186 17.165 3.20516 19.2778V19.6874C3.17083 21.8039 3.57027 23.905 4.37887 25.8612C5.18747 27.8174 6.3881 29.5873 7.90678 31.0618C9.38061 32.5803 11.15 33.7806 13.1057 34.5887C15.0615 35.3967 17.1621 35.7954 19.2779 35.7601C21.3917 35.7915 23.4896 35.391 25.4432 34.5831C27.3967 33.7752 29.1648 32.577 30.639 31.0618Z" fill="#FCCB06"/>
                   <path d="M36.5919 19.7031V19.2969C36.6284 17.0209 36.1978 14.7616 35.3267 12.6586C34.4556 10.5556 33.1625 8.65357 31.5273 7.07003C29.9437 5.43383 28.0412 4.13988 25.9376 3.26819C23.834 2.3965 21.5739 1.96561 19.2971 2.00214C17.0209 1.96606 14.7615 2.39718 12.6584 3.26886C10.5554 4.14053 8.65352 5.43424 7.07026 7.07003C5.43447 8.65328 4.14077 10.5552 3.26909 12.6582C2.39742 14.7612 1.9663 17.0207 2.00238 19.2969V19.7031C1.96386 21.9802 2.39385 24.2408 3.26566 26.3447C4.13746 28.4486 5.43247 30.3509 7.07026 31.9333C8.6538 33.5685 10.5558 34.8616 12.6588 35.7327C14.7618 36.6038 17.0211 37.0344 19.2971 36.9979C21.5735 37.0334 23.833 36.6024 25.9364 35.7314C28.0398 34.8604 29.9425 33.5678 31.5273 31.9333C33.1618 30.3485 34.4544 28.4458 35.3254 26.3424C36.1964 24.239 36.6274 21.9795 36.5919 19.7031Z" stroke="white" stroke-width="3"/>
                   <path d="M27.014 24.8753C26.7923 24.7227 26.521 24.6597 26.2548 24.6988C26.1205 24.714 25.9912 24.7585 25.8761 24.8293C25.761 24.9001 25.6629 24.9954 25.5888 25.1084C24.0349 27.1529 22.0782 28.2628 19.7185 28.4382C17.8995 28.5726 16.0933 28.0439 14.6339 26.9498C13.3686 25.7821 12.7171 25.1683 12.6794 25.1084C12.6016 24.9989 12.5026 24.9061 12.3881 24.8358C12.2737 24.7654 12.1463 24.7188 12.0134 24.6988C11.7472 24.6597 11.4759 24.7227 11.2542 24.8753C11.1447 24.9531 11.052 25.0521 10.9816 25.1666C10.9112 25.281 10.8647 25.4084 10.8447 25.5413C10.7971 25.8082 10.853 26.0833 11.0012 26.3104L13.2521 28.4715C14.9397 29.7847 17.014 30.5035 19.1524 30.5159L19.8816 30.486C21.7002 30.3543 23.4433 29.7063 24.9062 28.618C25.7898 27.9645 26.5748 27.1874 27.2371 26.3104C27.3935 26.0888 27.4567 25.8147 27.4131 25.5469C27.3695 25.2792 27.2226 25.0392 27.004 24.8786L27.014 24.8753Z" fill="black"/>
                   <path d="M24.8535 15.1758C25.5594 15.036 26.1632 15.3567 26.6648 16.1381C26.9171 16.5388 27.1069 16.9756 27.2276 17.4334C27.2724 17.6018 27.372 17.7506 27.5106 17.8563C27.6533 17.9622 27.8257 18.0204 28.0034 18.0228L28.1932 17.9961C28.2966 17.9701 28.3936 17.9233 28.4783 17.8586C28.563 17.794 28.6337 17.7127 28.686 17.6199C28.7405 17.5336 28.7768 17.4372 28.7928 17.3364C28.8089 17.2357 28.8042 17.1327 28.7792 17.0338C28.5508 16.1248 28.0921 15.29 27.4473 14.6098C27.101 14.1898 26.6451 13.8742 26.1302 13.6978C25.6152 13.5215 25.0615 13.4914 24.5305 13.6108C23.5202 13.793 22.6188 14.3569 22.0132 15.1858C21.5781 15.7514 21.3094 16.4271 21.2373 17.137C21.2282 17.243 21.2403 17.3496 21.2728 17.4508C21.3054 17.5521 21.3579 17.6457 21.4271 17.7264C21.4857 17.81 21.5627 17.879 21.6522 17.928C21.7417 17.9771 21.8413 18.005 21.9433 18.0094C22.0477 18.0252 22.1543 18.0185 22.2559 17.9898C22.3575 17.9611 22.4519 17.911 22.5326 17.8429C22.6162 17.7817 22.6858 17.7035 22.7369 17.6133C22.7879 17.5232 22.8193 17.4233 22.829 17.3202C22.885 16.9966 22.9977 16.6855 23.1619 16.4012C23.3371 16.0856 23.5794 15.8124 23.8716 15.6007C24.1639 15.389 24.4991 15.2439 24.8535 15.1758Z" fill="black"/>
                   <path d="M16.1744 18.0215L16.3842 17.9949C16.4875 17.9689 16.5845 17.9221 16.6693 17.8574C16.754 17.7927 16.8247 17.7115 16.877 17.6186C16.9304 17.5319 16.9645 17.4347 16.9772 17.3336C16.9898 17.2325 16.9806 17.1298 16.9502 17.0326C16.7203 16.1242 16.2618 15.2898 15.6183 14.6085C15.2725 14.188 14.8166 13.8719 14.3015 13.6955C13.7865 13.5191 13.2325 13.4894 12.7015 13.6096C11.7009 13.7981 10.8101 14.3614 10.2108 15.1846C9.76495 15.7465 9.48679 16.4228 9.40835 17.1358C9.39313 17.3494 9.46114 17.5606 9.59814 17.7252C9.66264 17.8081 9.74415 17.8763 9.83719 17.9251C9.93024 17.974 10.0327 18.0023 10.1376 18.0082C10.242 18.0219 10.348 18.0142 10.4494 17.9856C10.5507 17.957 10.6451 17.908 10.7269 17.8417C10.8103 17.7803 10.8798 17.7021 10.9309 17.612C10.982 17.5219 11.0134 17.422 11.0233 17.319C11.0639 16.9915 11.1777 16.6774 11.3563 16.3999C11.5311 16.0845 11.7733 15.8114 12.0657 15.6002C12.358 15.389 12.6933 15.2448 13.0478 15.1779C13.7359 15.0381 14.3319 15.3588 14.8358 16.1402C15.0895 16.5402 15.2794 16.9771 15.3986 17.4355C15.4448 17.6033 15.5441 17.7517 15.6816 17.8584C15.8249 17.9627 15.9972 18.0197 16.1744 18.0215Z" fill="black"/>
                </svg>
                13,066 Ratings & 1,117 Reviews
             </div>
             <div class="company-contact-info">
                <span><i class="fa-solid fa-envelope"></i><a href="mailto:johndoe12@gmail.com">johndoe12@gmail.com</a></span>
                <span><i class="fa-solid fa-mobile"></i><a href="tel:9876543210">+9876543210</a></span>
                <span><i class="fa-regular fa-circle-phone"></i><a href="tel:1234567890">123-456-7890</a> (TOLL-FREE)</span>
             </div>
             <div class="company-contact-info">
                <span><i class="fa-solid fa-location-dot"></i><a href="https://goo.gl/maps/4FQoMDDjSYM4ZgGh9">EE 91, EE Block, Sector II, Bidhannagar, Kolkata, West Bengal 700091</a></span>
             </div>
          </div>
       </div>
       <div class="company-content">
          <p>Sed hendrerit vel sapien nec commodo. Curabitur at maximus mauris. Duis vitae blandit lorem, vel posuere ante. Nulla bibendum posuere arcu, non facilisis risus scelerisque eget. Duis a ultrices elit. Fusce eget facilisis turpis. Sed tellus est, viverra porttitor luctus nec, posuere ac sapien. Vestibulum quam ex, convallis ac mi vitae. Sed hendrerit vel sapien nec commodo. Curabitur at maximus mauris. Duis vitae blandit lorem, vel posuere ante. Nulla bibendum posuere arcu, non facilisis risus scelerisque eget. Duis a ultrices elit. Fusce eget facilisis turpis. Sed tellus est, viverra porttitor luctus nec, posuere ac sapien. Vestibulum quam ex, convallis ac mi vitae.</p>
       </div>
       <div class="rating-add-content">
          <div class="row">
             <div class="col-md-7">
                <div class="rating-review-left">
                   <div class="rating-review-box">
                      <div class="rating-review-head">
                         <h4>Ratings & Reviews</h4>
                      </div>
                      <div class="rating-review-content">
                         <div class="rating-progress">
                            <div class="rating-prog-count">
                               <h2>
                                  4.5 
                                  <span>
                                     <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30.639 31.0618C32.1577 29.5873 33.3583 27.8174 34.1669 25.8612C34.9755 23.905 35.375 21.8039 35.3406 19.6874V19.2778C35.3739 17.165 34.9739 15.0677 34.1653 13.1154C33.3567 11.1631 32.1565 9.39723 30.639 7.92672C29.1678 6.40592 27.4009 5.20244 25.447 4.39041C23.4931 3.57838 21.3936 3.175 19.2779 3.20512C17.1601 3.17106 15.058 3.5726 13.1019 4.38482C11.1458 5.19704 9.37753 6.40261 7.90678 7.92672C6.38924 9.39723 5.18913 11.1631 4.3805 13.1154C3.57186 15.0677 3.17186 17.165 3.20516 19.2778V19.6874C3.17083 21.8039 3.57027 23.905 4.37887 25.8612C5.18747 27.8174 6.3881 29.5873 7.90678 31.0618C9.38061 32.5803 11.15 33.7806 13.1057 34.5887C15.0615 35.3967 17.1621 35.7954 19.2779 35.7601C21.3917 35.7915 23.4896 35.391 25.4432 34.5831C27.3967 33.7752 29.1648 32.577 30.639 31.0618Z" fill="#FCCB06"/>
                                        <path d="M36.5919 19.7031V19.2969C36.6284 17.0209 36.1978 14.7616 35.3267 12.6586C34.4556 10.5556 33.1625 8.65357 31.5273 7.07003C29.9437 5.43383 28.0412 4.13988 25.9376 3.26819C23.834 2.3965 21.5739 1.96561 19.2971 2.00214C17.0209 1.96606 14.7615 2.39718 12.6584 3.26886C10.5554 4.14053 8.65352 5.43424 7.07026 7.07003C5.43447 8.65328 4.14077 10.5552 3.26909 12.6582C2.39742 14.7612 1.9663 17.0207 2.00238 19.2969V19.7031C1.96386 21.9802 2.39385 24.2408 3.26566 26.3447C4.13746 28.4486 5.43247 30.3509 7.07026 31.9333C8.6538 33.5685 10.5558 34.8616 12.6588 35.7327C14.7618 36.6038 17.0211 37.0344 19.2971 36.9979C21.5735 37.0334 23.833 36.6024 25.9364 35.7314C28.0398 34.8604 29.9425 33.5678 31.5273 31.9333C33.1618 30.3485 34.4544 28.4458 35.3254 26.3424C36.1964 24.239 36.6274 21.9795 36.5919 19.7031Z" stroke="white" stroke-width="3"/>
                                        <path d="M27.014 24.8753C26.7923 24.7227 26.521 24.6597 26.2548 24.6988C26.1205 24.714 25.9912 24.7585 25.8761 24.8293C25.761 24.9001 25.6629 24.9954 25.5888 25.1084C24.0349 27.1529 22.0782 28.2628 19.7185 28.4382C17.8995 28.5726 16.0933 28.0439 14.6339 26.9498C13.3686 25.7821 12.7171 25.1683 12.6794 25.1084C12.6016 24.9989 12.5026 24.9061 12.3881 24.8358C12.2737 24.7654 12.1463 24.7188 12.0134 24.6988C11.7472 24.6597 11.4759 24.7227 11.2542 24.8753C11.1447 24.9531 11.052 25.0521 10.9816 25.1666C10.9112 25.281 10.8647 25.4084 10.8447 25.5413C10.7971 25.8082 10.853 26.0833 11.0012 26.3104L13.2521 28.4715C14.9397 29.7847 17.014 30.5035 19.1524 30.5159L19.8816 30.486C21.7002 30.3543 23.4433 29.7063 24.9062 28.618C25.7898 27.9645 26.5748 27.1874 27.2371 26.3104C27.3935 26.0888 27.4567 25.8147 27.4131 25.5469C27.3695 25.2792 27.2226 25.0392 27.004 24.8786L27.014 24.8753Z" fill="black"/>
                                        <path d="M24.8535 15.1758C25.5594 15.036 26.1632 15.3567 26.6648 16.1381C26.9171 16.5388 27.1069 16.9756 27.2276 17.4334C27.2724 17.6018 27.372 17.7506 27.5106 17.8563C27.6533 17.9622 27.8257 18.0204 28.0034 18.0228L28.1932 17.9961C28.2966 17.9701 28.3936 17.9233 28.4783 17.8586C28.563 17.794 28.6337 17.7127 28.686 17.6199C28.7405 17.5336 28.7768 17.4372 28.7928 17.3364C28.8089 17.2357 28.8042 17.1327 28.7792 17.0338C28.5508 16.1248 28.0921 15.29 27.4473 14.6098C27.101 14.1898 26.6451 13.8742 26.1302 13.6978C25.6152 13.5215 25.0615 13.4914 24.5305 13.6108C23.5202 13.793 22.6188 14.3569 22.0132 15.1858C21.5781 15.7514 21.3094 16.4271 21.2373 17.137C21.2282 17.243 21.2403 17.3496 21.2728 17.4508C21.3054 17.5521 21.3579 17.6457 21.4271 17.7264C21.4857 17.81 21.5627 17.879 21.6522 17.928C21.7417 17.9771 21.8413 18.005 21.9433 18.0094C22.0477 18.0252 22.1543 18.0185 22.2559 17.9898C22.3575 17.9611 22.4519 17.911 22.5326 17.8429C22.6162 17.7817 22.6858 17.7035 22.7369 17.6133C22.7879 17.5232 22.8193 17.4233 22.829 17.3202C22.885 16.9966 22.9977 16.6855 23.1619 16.4012C23.3371 16.0856 23.5794 15.8124 23.8716 15.6007C24.1639 15.389 24.4991 15.2439 24.8535 15.1758Z" fill="black"/>
                                        <path d="M16.1744 18.0215L16.3842 17.9949C16.4875 17.9689 16.5845 17.9221 16.6693 17.8574C16.754 17.7927 16.8247 17.7115 16.877 17.6186C16.9304 17.5319 16.9645 17.4347 16.9772 17.3336C16.9898 17.2325 16.9806 17.1298 16.9502 17.0326C16.7203 16.1242 16.2618 15.2898 15.6183 14.6085C15.2725 14.188 14.8166 13.8719 14.3015 13.6955C13.7865 13.5191 13.2325 13.4894 12.7015 13.6096C11.7009 13.7981 10.8101 14.3614 10.2108 15.1846C9.76495 15.7465 9.48679 16.4228 9.40835 17.1358C9.39313 17.3494 9.46114 17.5606 9.59814 17.7252C9.66264 17.8081 9.74415 17.8763 9.83719 17.9251C9.93024 17.974 10.0327 18.0023 10.1376 18.0082C10.242 18.0219 10.348 18.0142 10.4494 17.9856C10.5507 17.957 10.6451 17.908 10.7269 17.8417C10.8103 17.7803 10.8798 17.7021 10.9309 17.612C10.982 17.5219 11.0134 17.422 11.0233 17.319C11.0639 16.9915 11.1777 16.6774 11.3563 16.3999C11.5311 16.0845 11.7733 15.8114 12.0657 15.6002C12.358 15.389 12.6933 15.2448 13.0478 15.1779C13.7359 15.0381 14.3319 15.3588 14.8358 16.1402C15.0895 16.5402 15.2794 16.9771 15.3986 17.4355C15.4448 17.6033 15.5441 17.7517 15.6816 17.8584C15.8249 17.9627 15.9972 18.0197 16.1744 18.0215Z" fill="black"/>
                                     </svg>
                                  </span>
                               </h2>
                               <p>13,066 Ratings & 1,117 Reviews</p>
                            </div>
                            <div class="rating-progress-bar">
                               <table class="table">
                                  <tbody>
                                     <tr>
                                        <td>5</td>
                                        <td><i class="fa-solid fa-star"></i></td>
                                        <td>
                                           <div class="progress">
                                              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                        </td>
                                        <td>8,461</td>
                                     </tr>
                                     <tr>
                                        <td>4</td>
                                        <td><i class="fa-solid fa-star"></i></td>
                                        <td>
                                           <div class="progress">
                                              <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                        </td>
                                        <td>2,245</td>
                                     </tr>
                                     <tr>
                                        <td>3</td>
                                        <td><i class="fa-solid fa-star"></i></td>
                                        <td>
                                           <div class="progress">
                                              <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                        </td>
                                        <td>823</td>
                                     </tr>
                                     <tr>
                                        <td>2</td>
                                        <td><i class="fa-solid fa-star"></i></td>
                                        <td>
                                           <div class="progress">
                                              <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                        </td>
                                        <td>364</td>
                                     </tr>
                                     <tr>
                                        <td>1</td>
                                        <td><i class="fa-solid fa-star"></i></td>
                                        <td>
                                           <div class="progress">
                                              <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                        </td>
                                        <td>1,173</td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                         <div class="customer-review-content">
                            <div class="customer-review-wrap">
                               <div class="cutomer-comment">
                                  <span>4.5</span>
                                  <span><img src="/front-end/images/emoji-good.png" alt="img" width="28" height="28"></span>
                                  <span>Wonderful</span>
                                  <p>Sed hendrerit vel sapien nec commodo. Curabitur at maximus mauris. Duis vitae blandit lorem, vel posuere ante. Nulla bibendum posuere arcu, non facilisis risus scelerisque eget.</p>
                               </div>
                               <div class="customer-profile-info">
                                  <span><img src="/front-end/images/user-img.png" alt="img" width="23" height="23"></span>
                                  <span>Raju Sing <span class="c-comment-date">April 24, 2022</span></span>
                               </div>
                            </div>
                            <div class="customer-review-wrap">
                               <div class="cutomer-comment">
                                  <span>4.5</span>
                                  <span><img src="/front-end/images/emoji-bad.png" alt="img" width="28" height="28"></span>
                                  <span>Bad</span>
                                  <p>Sed hendrerit vel sapien nec commodo. Curabitur at maximus mauris. Duis vitae blandit lorem, vel posuere ante. Nulla bibendum posuere arcu, non facilisis risus scelerisque eget.</p>
                               </div>
                               <div class="customer-profile-info">
                                  <span><img src="/front-end/images/user-img.png" alt="img" width="23" height="23"></span>
                                  <span>Raju Sing <span class="c-comment-date">April 24, 2022</span></span>
                               </div>
                            </div>
                            <div class="customer-review-wrap">
                               <div class="cutomer-comment">
                                  <span>4.5</span>
                                  <span><img src="/front-end/images/emoji-good.png" alt="img" width="28" height="28"></span>
                                  <span>Wonderful</span>
                                  <p>Sed hendrerit vel sapien nec commodo. Curabitur at maximus mauris. Duis vitae blandit lorem, vel posuere ante. Nulla bibendum posuere arcu, non facilisis risus scelerisque eget.</p>
                               </div>
                               <div class="customer-profile-info">
                                  <span><img src="/front-end/images/user-img.png" alt="img" width="23" height="23"></span>
                                  <span>Raju Sing <span class="c-comment-date">April 24, 2022</span></span>
                               </div>
                            </div>
                            <div class="customer-review-wrap">
                               <div class="cutomer-comment">
                                  <span>4.5</span>
                                  <span><img src="/front-end/images/emoji-bad.png" alt="img" width="28" height="28"></span>
                                  <span>Bad</span>
                                  <p>Sed hendrerit vel sapien nec commodo. Curabitur at maximus mauris. Duis vitae blandit lorem, vel posuere ante. Nulla bibendum posuere arcu, non facilisis risus scelerisque eget.</p>
                               </div>
                               <div class="customer-profile-info">
                                  <span><img src="/front-end/images/user-img.png" alt="img" width="23" height="23"></span>
                                  <span>Raju Sing <span class="c-comment-date">April 24, 2022</span></span>
                               </div>
                            </div>
                            <div class="customer-review-wrap">
                               <div class="cutomer-comment">
                                  <span>4.5</span>
                                  <span><img src="/front-end/images/emoji-good.png" alt="img" width="28" height="28"></span>
                                  <span>Wonderful</span>
                                  <p>Sed hendrerit vel sapien nec commodo. Curabitur at maximus mauris. Duis vitae blandit lorem, vel posuere ante. Nulla bibendum posuere arcu, non facilisis risus scelerisque eget.</p>
                               </div>
                               <div class="customer-profile-info">
                                  <span><img src="/front-end/images/user-img.png" alt="img" width="23" height="23"></span>
                                  <span>Raju Sing <span class="c-comment-date">April 24, 2022</span></span>
                               </div>
                            </div>
                            <div class="customer-review-wrap">
                               <div class="cutomer-comment">
                                  <span>4.5</span>
                                  <span><img src="/front-end/images/emoji-good.png" alt="img" width="28" height="28"></span>
                                  <span>Wonderful</span>
                                  <p>Sed hendrerit vel sapien nec commodo. Curabitur at maximus mauris. Duis vitae blandit lorem, vel posuere ante. Nulla bibendum posuere arcu, non facilisis risus scelerisque eget.</p>
                               </div>
                               <div class="customer-profile-info">
                                  <span><img src="/front-end/images/user-img.png" alt="img" width="23" height="23"></span>
                                  <span>Raju Sing <span class="c-comment-date">April 24, 2022</span></span>
                               </div>
                            </div>
                            <div class="btn-border-top"><a href="#" class="view-more mt-0 show-comment-slice"><span class="position-relative"><i class="fa-solid fa-angle-right"></i>Show More</span></a></div>
                         </div>
                      </div>
                   </div>
                   <div class="submit-review-box">
                      <h2 class="inner-main-head text-center">Submit Your <span>Review</span></h2>
                      <div class="company-submit-review-form">
                         <form>
                            <div class="custom-form">
                               <input type="text" class="form-control" name="" placeholder="Business/Institute/Establishment Name" required="">
                            </div>
                            <div class="custom-form">
                               <input type="text" class="form-control" name="address" placeholder="Location" required="">
                            </div>
                            <div class="custom-form">
                               <input type="text" class="form-control" name="address" placeholder="Product/Division Name" required="">
                            </div>
                            <div class="rating-slider position-relative">
                               <span><img style="width:50px;" src="" id="selected-range-emojis" /></span>
                               <label>Rating</label>
                               <div id="rating-range" class="rating"></div>
                               <input type="text" id="ratingRange" readonly>
                               <input  type="hidden" id="ratingvalue" name="rating" value="">
                               <div id="slider-values" class="text-center">
                                  <span id="selected-range-text"></span>
                               </div>
                            </div>
                            <div class="tag-label"><strong>Tags</strong></div>
                            <div class="range-tag-wrap">
                             <% allRatingTags.forEach( (rev_tag, index) => { %>
                               <div class="tag-items-wrapper range-tag<%= rev_tag.review_rating_value.replace(/\./g, "") %> <% if(index!=0){ %>d-none<% } %>">
                                 <% const tag_items = rev_tag.rating_tags.split('|'); %>
                                 <% tag_items.forEach(function(tag) { %>
                                  <div class="form-check custom-check position-relative">
                                    <input class="form-check-input" type="checkbox" name="tags" value="<%= tag %>" id="">
                                    <label class="form-check-label" for="flexCheckDefault">
                                     <%= tag %>
                                    </label>
                                  </div>
                                  <% }); %> 
                               </div>
                             <% }) %>  
                            </div>
                            <div class="custom-form">
                               <textarea name="review_content" rows="4" class="form-control" placeholder="Review/Feedback" required></textarea>
                            </div>
                            <div class="custom-form">
                               <span class="fw-bold d-inline-block me-2" style="font-size: 14px;">Show your name?</span>
                               <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="user_privacy" checked id="inlineRadio1" value="1">
                                  <label class="form-check-label" for="inlineRadio1">Yes</label>
                               </div>
                               <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="user_privacy" id="inlineRadio2" value="0">
                                  <label class="form-check-label" for="inlineRadio2">No</label>
                               </div>
                            </div>
                            <div class="review-submit d-sm-flex align-items-center">
                               <input type="submit" class="btn-default btn-warning me-3 mb-sm-0 mb-1" value="Submit">
                               <a href="#" class="view-more mt-0"><span class="position-relative"><i class="fa-solid fa-angle-right"></i>View All Reviews</span></a>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-5">
                <div class="addvertise-right">
                   <div class="companies-add">
                      <img src="/front-end/images/add-img.png" alt="img" width="457" height="575">
                   </div>
                   <div class="companies-add">
                      <img src="/front-end/images/add-img.png" alt="img" width="457" height="575">
                   </div>
                   <div class="companies-add">
                      <img src="/front-end/images/add-img.png" alt="img" width="457" height="575">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
   <!-- ============== Section1 end =============== -->
<%- include('common/footer') -%>
<script>
   // Function to handle Google Maps API initialization
   function initMap() {
     // Your JavaScript code that interacts with the Maps API should be placed here,
     // after the API has been initialized.
     // For example, you can initialize the Autocomplete service and map here.
     
     // Initialize the Autocomplete service
     const autocomplete = new google.maps.places.Autocomplete(
       document.getElementById('autocomplete'),
       { types: ['geocode'] }
     );
     
     // Initialize the map (optional, just for illustration purposes)
     const map = new google.maps.Map(document.getElementById('map'), {
       center: { lat: -34.397, lng: 150.644 },
       zoom: 8
     });
     
     // Optional: Listen for the "place_changed" event to get the selected place details
     autocomplete.addListener('place_changed', () => {
       const place = autocomplete.getPlace();
       console.log('Selected place:', place);
     });
   }
 
   // ////////////////////////////// Range Slider Start
 
   const rangeTexts = {
     <% allRatingTags.forEach((rev_tag, index) => { %>
       "<%= rev_tag.review_rating_value %>": "<%= rev_tag.review_rating_name %>",
     <% }) %>
   };
   const rangeEmojis = {
     <% allRatingTags.forEach((rev_tag, index) => { %>
       "<%= rev_tag.review_rating_value %>": "<%= rev_tag.rating_image %>",
     <% }) %>
   };
 
   $("#rating-range").slider({
       step: 0.5,
       range: true, 
       min: 0.5, 
       max: 5, 
       values: [0.5, 5], 
       slide: function(event, ui)
       {
         console.log(ui);
         $("#ratingRange").val(ui.values[0] + " / " + ui.values[1]);
         $("#ratingvalue").val(ui.values[0]);
         // When slider values change, update the text
         var numberAsString = ui.values[0].toString();
         var classnumber = numberAsString.replace(".", "");
         $("#selected-range-text").text(rangeTexts[ui.values[0]]);
         $("#selected-range-emojis").attr('src',rangeEmojis[ui.values[0]]);
         $('.range-tag'+classnumber).removeClass('d-none');
         $('.tag-items-wrapper:not(.range-tag'+classnumber+')').addClass("d-none");
         $('input[type="checkbox"][name="tags"]').prop('checked', false);
       }
   });
   $("#ratingRange").val($("#rating-range").slider("values", 0) + " / " + $("#rating-range").slider("values", 1));
 
 ////////////////////////////// Range Slider End
 
   //-------Review Form Submit-----------------//
   $( "#review_submit_frm" ).on( "submit", function( event ) {
     event.preventDefault();
     const formData = $('#review_submit_frm').serializeArray();
     const jsonData = {};
     $(formData).each(function (index, field) {
       if(field.name==='tags'){
         if (!jsonData.tags) {
           jsonData.tags = [];
         }
         jsonData.tags.push(field.value);;
       }else{
         jsonData[field.name] = field.value;
       }
     });
     $.ajax({
       url: '/auth/add-review',
       method: 'POST',
       data: jsonData,
       ContentType: 'application/json',
       success: function (data) {
       // if (data.status == 'ok') {
       //   console.log('aaa');
       // } else {
       //   console.log('bbb');
       // }
         console.log(data);
       },
       error: function (error) {
         console.log(error);
       }
     });
   });
 </script>