<%- include('common/header') -%>
<link href="/front-end/css/category-profile-premium-style.css" rel="stylesheet" type="text/css">
   <%- include('common/header-banner') -%>
<!-- ============== Section1 Start =============== -->
<section class="main-content premiun_review_submit_box">
    <div class="container">
        <div class="submit-review-box">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="inner-main-head text-center mb-4">Edit Your <span>Review</span></h2>
                    <img src="/front-end/images/premiun-submit-review-image.png" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="company-submit-review-form">
                        <form id="review_submit_frm" name="review_submit_frm" action="" method="post">
                        <div class="custom-form">
                            <input type="text" class="form-control" id="search-input-review" name="company_name" placeholder="Business/Institute/Establishment Name" required value="<%= reviewDataById.company_name %>" readonly>
                        </div>
                        <div class="custom-form">
                            <input type="text" class="form-control" name="address" placeholder="Location" value="<%= reviewDataById.company_location %>" required <% if(reviewDataById.company_location){ %>readonly<% }%>>
                        </div>
                        
                        <div class="custom-form">
                            <input type="text" class="form-control" placeholder="Product/Division Name" name="review_title" value="<%= reviewDataById.review_title %>" >
                        </div>
                        <div class="rating-slider position-relative pt-5">
                            <span class="emojisss"><img style="width:50px;" src="" id="selected-range-emojis" /></span>
                            <label>Rating</label>
                            <div id="rating-range" class="rating"></div>
                            <input type="text" id="ratingRange" readonly>
                            <input  type="hidden" id="ratingvalue" name="rating" value="<%= reviewDataById.rating %>">
                            <div id="slider-values" class="text-center">
                            <span id="selected-range-text"></span>
                            </div>
                        </div>
                        <div class="tag-label"><strong>Tags</strong></div>
                        <div class="range-tag-wrap">
                            <% allRatingTags.forEach( (rev_tag, index) => { %>
                            <div class="tag-items-wrapper range-tag<%= rev_tag.review_rating_value.replace(/\./g, "") %> <% if(index!=0){ %>d-none<% } %>">
                            <% const tag_items = rev_tag.rating_tags.split('|'); %>
                            <% tag_items.forEach(function(tag, key) { %>
                            <div class="form-check custom-check position-relative">
                                <input class="form-check-input" type="checkbox" name="tags" value="<%= tag %>"  id="" />
                                <label class="form-check-label" for="flexCheckDefault">
                                <%= tag %>
                                </label>
                            </div>
                            <% }); %> 
                            </div>
                            <% }) %>  
                        </div>
                        <div class="custom-form">
                            <textarea name="review_content" rows="4" class="form-control" placeholder="Review/Feedback" required><%= reviewDataById.review_content %></textarea>
                        </div>
                        <div class="custom-form">
                            <span class="fw-bold d-inline-block me-2" style="font-size: 14px;">Show your name?</span>
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="user_privacy" checked id="inlineRadio1" value="1" <% if(reviewDataById.user_privacy == 1){ %> checked <% } %>  >
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="user_privacy" id="inlineRadio2" value="0" <% if(reviewDataById.user_privacy == 0){ %> checked <% } %>>
                            <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>
                        <div class="review-submit d-sm-flex align-items-center">
                            
                            <% if(currentUserData){ %>
                            <input type="submit" class="btn-default btn-warning me-3 mb-sm-0 mb-1" value="Submit">
                            <% } else { %>
                            <a href="#" class="btn-default btn-outline-warning login">Submit</a>
                            <% } %>
                        </div>
                        <div class="submit-message" style="color:black;"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ============== Section2 End =============== -->

<%- include('common/footer') -%>   

<script>
      // ////////////////////////////// Range Slider Start
    
      const rangeTexts = {
      <% allRatingTags.forEach((rev_tag, index) => { %>
        "<%= rev_tag.review_rating_value %>": "<%= rev_tag.review_rating_name %>",
      <% }) %>
    };
    const rangeEmojis = {
      <% allRatingTags.forEach((rev_tag, index) => { %>
        "<%= rev_tag.review_rating_value %>": "<%= rev_tag.rating_image %>",
      <% }) %>
    };
    
  
    $("#rating-range").slider({
      step: 0.5,
      range: "min", 
      min: 0.5, 
      max: 5, 
      value: 0.5, 
      create: function( event, ui ) {
        $("#ratingRange").val('0.5/5');
        $("#ratingvalue").val(0.5);
        $("#selected-range-text").text(rangeTexts[0.5]);
          $("#selected-range-emojis").attr('src','/'+rangeEmojis[0.5]);
      },
      slide: function(event, ui){
        console.log(ui.value);
        $("#ratingRange").val(ui.value + " / " + "5");
        $("#ratingvalue").val(ui.value);
        // When slider values change, update the text
          var numberAsString = ui.value.toString();
          var classnumber = numberAsString.replace(".", "");
          $("#selected-range-text").text(rangeTexts[ui.value]);
          $("#selected-range-emojis").attr('src','/'+rangeEmojis[ui.value]);
          $('.range-tag'+classnumber).removeClass('d-none');
          $('.tag-items-wrapper:not(.range-tag'+classnumber+')').addClass("d-none");
          $('input[type="checkbox"][name="tags"]').prop('checked', false);
      }
      });
    
    ////////////////////////////// Range Slider End
</script>