<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<link href="/front-end/css/survey-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 Start =============== -->
<section class="main-content premium_company_profile">
   <div class="container">
      <div class="main_box">
         <%- include('common/premium-company-sidebar') -%>

         <div class="survey-content">
            <div class="container">
               <div class="create-survey-field">
                <form>
                  <div class="create-survey-head">
                     <div class="survey-title">Survey</div>
                     <div class="survey-ex-date">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="custom-form mb-sm-0 mb-2">
                                 <input type="text" class="form-control" name="created_at" value="<%= formattedDate %>" placeholder="<%= formattedDate %>" style="pointer-events: none;">
                                 <small>from</small>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="custom-form mb-sm-0 mb-2">
                                 <input type="date" class="form-control" name="expire_at" required="">
                                 <small>to</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="create-survey-body">
                   
                      <div class="custom-form">
                         <label><span>Survey Title</span><span style="color: red;">*</span></label>
                         <textarea type="text" class="form-control" name="title" required=""></textarea>
                      </div>
                      <!-- repeater1 start -->
                      <div class="qst-repeat dynamic-question-1">
                         <div class="custom-form">
                            <label><span>Q1</span></label>
                            <input type="text" class="form-control" name="question" required="">
                         </div>

                         <div class="custom-form">
                            <span class="fw-bold d-inline-block me-2">Select Type:</span>
                            <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="question_type_1" id="inlineRadio1" value="type_textarea" checked>
                               <label class="form-check-label" for="inlineRadio1">Textarea</label>
                            </div>
                            <div class="form-check form-check-inline">
                               <input class="form-check-input select-radio" type="radio" name="question_type_1" id="inlineRadio2" value="type_radio">
                               <label class="form-check-label" for="inlineRadio2">Radio</label>
                            </div>
                            <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="question_type_1" id="inlineRadio3" value="type_checkbox">
                               <label class="form-check-label" for="inlineRadio3">Checkbox</label>
                            </div>
                            <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="question_type_1" id="inlineRadio4" value="type_ratings">
                               <label class="form-check-label" for="inlineRadio4">Rating</label>
                            </div>
                         </div>
                      </div>
                      <!-- repeater1 end -->
                      
                      <a href="#" class="btn-default btn-warning add-question my-1">Add Question</a>
                      <input type="submit" class="btn-default btn-dark  my-1" value="Submit">
                  </div>
                </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ============== Section6 End =============== -->
<%- include('common/footer') -%>
<script>

$('body').on('click', '.add-question', function(e){
   e.preventDefault();
   var question_count = $('.qst-repeat').length;
   console.log(question_count);
   var next_question_count = question_count+1;
   var question_html = `
   <div class="qst-repeat dynamic-question-${next_question_count}">
      <div class="custom-form">
            <label><span>Q${next_question_count}</span></label>
            <input type="text" class="form-control" name="question" required="">
      </div>
      <div class="custom-form">
         <span class="fw-bold d-inline-block me-2">Select Type:</span>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question_type_${next_question_count}" id="inlineRadio1${next_question_count}" value="type_textarea" checked>
            <label class="form-check-label" for="inlineRadio1${next_question_count}">Textarea</label>
         </div>
         <div class="form-check form-check-inline">
            <input class="form-check-input select-radio" type="radio" name="question_type_${next_question_count}" id="inlineRadio2${next_question_count}" value="type_radio">
            <label class="form-check-label" for="inlineRadio2${next_question_count}">Radio</label>
         </div>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question_type_${next_question_count}" id="inlineRadio3${next_question_count}" value="type_checkbox">
            <label class="form-check-label" for="inlineRadio3${next_question_count}">Checkbox</label>
         </div>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question_type_${next_question_count}" id="inlineRadio4${next_question_count}" value="type_ratings">
            <label class="form-check-label" for="inlineRadio4${next_question_count}">Rating</label>
         </div>
      </div>
   </div>
   `;
   $('.qst-repeat:last').after(question_html);
});
$('body').on('click', '.form-check-input', function(e){
   if( $(this).is(':checked') ) {
      $(this).parents(".qst-repeat").find('.create-survey-field-repater').remove();
      var option_wrapper_html = `
      <div class="create-survey-field-repater">
         <div class="multiple-ans-repeat">
            <div class="custom-form">
               <label><span>Answer</span></label>
               <input type="text" class="form-control" placeholder="">
               <div class="remove-ans"><i class="fa-solid fa-circle-xmark"></i></div>
            </div>
         </div>
         <a href="#" class="btn-default btn-warning add-option mb-3">Add Option</a>
      </div>
      `;

      var selectedValue = $(this).val();
      if( selectedValue == 'type_radio' || selectedValue == 'type_checkbox'){
         $(this).parents(".qst-repeat").find('.custom-form:last').after(option_wrapper_html);    
      }
   }
});
$("body").on('click', '.remove-ans', function(e){
   e.preventDefault();
   $(this).parents(".custom-form").remove();
});

$("body").on('click', '.add-option', function(e){
   e.preventDefault();
   var option_html = `
   <div class="custom-form">
      <label><span>Answer</span></label>
      <input type="text" class="form-control" placeholder="">
      <div class="remove-ans"><i class="fa-solid fa-circle-xmark"></i></div>
   </div>
   `;   
   $(this).parent(".create-survey-field-repater").find(".multiple-ans-repeat").append(option_html);
});
</script>