<%- include('common/header') -%>
<link href="/front-end/css/profile-dashboard-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>
<!-- ============== Section1 Start =============== -->
<section class="main-content my-profile-content">
   <div class="container">
      <div class="my-profile-wrapper">
         <div class="row">
            <%- include('common/profile-sidebar') -%>
            <div class="col-md-8">
               <div class="profile-right-content">
                  <div class="review-rewards">
                     <div class="row">
                        <div class="col-6">
                           <div class="total-reviews-box" style="background-color: #FFF6D1; background-image: url(/front-end/images/total-review-icon1.png);">
                              <h4>Total Review</h4>
                              <h3><%= userMeta && userMeta.review_count ? userMeta.review_count : '0' %></h3>
                           </div>
                        </div>
                        <div class="col-6">
                           <div class="total-reviews-box" style="background-color: #FFEACB; background-image: url(/front-end/images/total-review-icon2.png);">
                              <h4>Total Point Earned</h4>
                              <h3>100</h3>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="review-slider-wrap">
                     <div class="dashboard-head-panel">
                        <h2>Latest Reviews</h2>
                        <a href="/users-all-reviews" class="btn-default btn-warning">View All</a>
                     </div>
                     <div class="review-slider2">
                        <% if(AllCompaniesReviews) { %>
                           <% AllCompaniesReviews.forEach( (review,index)=> {%>
                               <div class="item">
                                 <div class="review-box">
                                    <h3><%= review.company_name %></h3>
                                    <div class="user-info-panel">
                                       <span><i class="fa-solid fa-location-dot"></i></span>
                                       <p class="m-0">
                                          <strong>Location</strong><br>
                                          <%= review.company_location %>
                                       </p>
                                    </div>
                                    <% if(review && review.review_title) { %>
                                       <div class="user-info-panel">
                                          <span><i class="fa-solid fa-box"></i></span>
                                          <p class="m-0">
                                             <strong>Product/division</strong><br>
                                             <%= review.review_title %>
                                          </p>
                                       </div>
                                       <% } %>
                                    <div class="user-review-text">
                                       <% AllReviewTags.forEach( (tag,index)=> {%>
                                          <% if(tag.review_id == review.id) { %>
                                             <span class="user-select-tag"><%= tag.tag_name %></span>
                                          <% } %>
                                       <% }) %>
                                       <div class="review-description-wrap">
                                          <%= review.review_content %>
                                          <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed aliquam nulla, condimentum interdum lacus. Nullam erat diam, fermentum eu metus eget... -->
                                          <div class="review-full-description">
                                             <%= review.review_content %>
                                             <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed aliquam nulla, condimentum interdum lacus. Nullam erat diam, fermentum eu metus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
                                          </div>
                                          <a href="" class="read-review">View More</a>
                                       </div>
                                    </div>
                                    <% var average = review.rating %>
                                    <% if (average >= 1 && average <= 1.25) {
                                       var avg = 1
                                       } else if (average > 1.25 && average <= 1.9) {
                                       var avg = 1.5
                                       } else if (average >= 2 && average <= 2.25) {
                                       var avg = 2
                                       } else if (average > 2.25 && average <= 2.9) {
                                       var avg = 2.5
                                       } else if (average >= 3 && average <= 3.25) {
                                       var avg = 3
                                       } else if (average > 3.25 && average <= 3.9) {
                                       var avg = 3.5
                                       } else if (average >= 4 && average <= 4.25) {
                                       var avg = 4
                                       } else if (average > 4.25 && average <= 4.9) {
                                       var avg = 4.5
                                       } else if (average > 4.5) {
                                       var avg = 5
                                       } else {
                                       var avg = 0
                                       }
                                       %>
                                   
                                    <% const dateString = review.created_at; %>
                                    <% const date = new Date(dateString); %>
                                    <div class="user-bio_rating">
                                       <div class="user-profile-info">
                                          <div class="user-review-date"><%= date.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></div>
                                       </div>
                                        
                                       <div class="user-rating">
                                          <% allRatingTags.forEach( tag => { %>
                                             <% if(tag.review_rating_value == avg){ %>
                                                <span><img src="/<%= tag.rating_image %>" alt="" style="display: inline-block;" width="45"></span>
                                             <% } %>
                                             <% }) %> 
                                          
                                          <span><%= review.rating %>/5</span>
                                       </div>
                                    </div>
                                    <!-- <div class="review-like-dislike">
                                       <span><a href=""><i class="fa-solid fa-thumbs-up"></i> 10</a></span>
                                       <span><a href=""><i class="fa-solid fa-thumbs-down"></i> 8</a></span>
                                    </div> -->
                                 </div>
                              </div>
                            <% }) %>
                         <% }%>
                        <!-- <div class="item">
                           <div class="review-box">
                              <h3>Company Name</h3>
                              <div class="user-info-panel">
                                 <span><i class="fa-solid fa-location-dot"></i></span>
                                 <p class="m-0">
                                    <strong>Location</strong><br>
                                    Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore- 560016, India.
                                 </p>
                              </div>
                              <div class="user-review-text">
                                 <span class="user-select-tag">Present Rerum</span>
                                 <div class="review-description-wrap">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed aliquam nulla, condimentum interdum lacus. Nullam erat diam, fermentum eu metus eget...
                                    <div class="review-full-description">
                                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed aliquam nulla, condimentum interdum lacus. Nullam erat diam, fermentum eu metus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                    <a href="" class="read-review">View More</a>
                                 </div>
                              </div>
                              <div class="user-bio_rating">
                                 <div class="user-profile-info">
                                    <div class="user-review-date">April 24, 2022</div>
                                 </div>
                                 <div class="user-rating">
                                    <span><img src="front-end/images/rating-emoji.png" alt=""></span>
                                    <span>4/5</span>
                                 </div>
                              </div>
                              <div class="review-like-dislike">
                                 <span><a href=""><i class="fa-solid fa-thumbs-up"></i> 10</a></span>
                                 <span><a href=""><i class="fa-solid fa-thumbs-down"></i> 8</a></span>
                              </div>
                           </div>
                        </div>
                        <div class="item">
                           <div class="review-box">
                              <h3>Company Name</h3>
                              <div class="user-info-panel">
                                 <span><i class="fa-solid fa-location-dot"></i></span>
                                 <p class="m-0">
                                    <strong>Location</strong><br>
                                    Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore- 560016, India.
                                 </p>
                              </div>
                              <div class="user-review-text">
                                 <span class="user-select-tag">Present Rerum</span>
                                 <div class="review-description-wrap">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed aliquam nulla, condimentum interdum lacus. Nullam erat diam, fermentum eu metus eget...
                                    <div class="review-full-description">
                                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed aliquam nulla, condimentum interdum lacus. Nullam erat diam, fermentum eu metus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                    <a href="" class="read-review">View More</a>
                                 </div>
                              </div>
                              <div class="user-bio_rating">
                                 <div class="user-profile-info">
                                    <div class="user-review-date">April 24, 2022</div>
                                 </div>
                                 <div class="user-rating">
                                    <span><img src="front-end/images/rating-emoji.png" alt=""></span>
                                    <span>4/5</span>
                                 </div>
                              </div>
                              <div class="review-like-dislike">
                                 <span><a href=""><i class="fa-solid fa-thumbs-up"></i> 10</a></span>
                                 <span><a href=""><i class="fa-solid fa-thumbs-down"></i> 8</a></span>
                              </div>
                           </div>
                        </div>
                        <div class="item">
                           <div class="review-box">
                              <h3>Company Name</h3>
                              <div class="user-info-panel">
                                 <span><i class="fa-solid fa-location-dot"></i></span>
                                 <p class="m-0">
                                    <strong>Location</strong><br>
                                    Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore- 560016, India.
                                 </p>
                              </div>
                              <div class="user-review-text">
                                 <span class="user-select-tag">Present Rerum</span>
                                 <div class="review-description-wrap">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed aliquam nulla, condimentum interdum lacus. Nullam erat diam, fermentum eu metus eget...
                                    <div class="review-full-description">
                                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed aliquam nulla, condimentum interdum lacus. Nullam erat diam, fermentum eu metus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                    <a href="" class="read-review">View More</a>
                                 </div>
                              </div>
                              <div class="user-bio_rating">
                                 <div class="user-profile-info">
                                    <div class="user-review-date">April 24, 2022</div>
                                 </div>
                                 <div class="user-rating">
                                    <span><img src="front-end/images/rating-emoji.png" alt=""></span>
                                    <span>4/5</span>
                                 </div>
                              </div>
                              <div class="review-like-dislike">
                                 <span><a href=""><i class="fa-solid fa-thumbs-up"></i> 10</a></span>
                                 <span><a href=""><i class="fa-solid fa-thumbs-down"></i> 8</a></span>
                              </div>
                           </div>
                        </div> -->
                     </div>
                  </div>
                  <% if(userMeta && userMeta.about) { %>
                  <div class="about-me-area">
                     <h2>About Me</h2>
                     <p><%= userMeta && userMeta.about ? userMeta.about : '' %></p>
                  </div>
                  <% } %>
                  <div class="review-company-wrap">
                     <div class="dashboard-head-panel">
                        <h2>Your Reviewed Companies</h2>
                        <!-- <a href="#" class="btn-default btn-warning">View All</a> -->
                     </div>
                     <div class="review-company-slider">
                        <% if(ReviewedCompanies) { %>
                          <% ReviewedCompanies.forEach( (company,index)=> {%>
                              <div class="item">
                                 <a href="/company/<%= company.company_id %>"><img src="/<%= company.logo %>" alt="img" width="88" height="88"></a>
                                 <h6><%= company.company_name %></h6>
                              </div>
                           <% }) %>
                        <% }%>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- <%
function truncateString(str, maxLength) {
  if (str.length > maxLength) {
    return str.slice(0, maxLength) + "...";
  } else {
    return str;
  }
}
%> -->
<!-- ============== Section1 End =============== -->
<%- include('common/footer') -%>
<script>
   function truncateString(str, maxLength) {
      if (str.length > maxLength) {
         return str.slice(0, maxLength) + "...";
      } else {
         return str;
      }
   }
</script>