<%- include('common/header') -%>
<link href="/front-end/css/survey-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>
<!-- ============== Section1 Start =============== -->
<section class="main-content bottom-main-content">
    <div class="survey-content">
       <div class="container">
          <h2 class="inner-main-head"><%- companySurveyQuestions[0].title %></h2>
          <% var questionJsonObject = JSON.parse(companySurveyQuestions[0].questions)
             var jsonString = JSON.stringify(questionJsonObject, null, 2);
          %>
          <%- //jsonString %>
          <form>
            <% questionJsonObject.forEach(function(item, index) { %>
             <div class="survey-wrapper">
                <div class="survey-head"><strong><%- index+1 %>.</strong> <%- item.question %></div>
                <% if(item.type=='type_textarea'){ %>
                <div class="survey-body">
                   <div class="custom-form">
                      <textarea type="text" rows="5" class="form-control" name="question_<%- index+1 %>" required=""></textarea>
                   </div>
                </div>
                <% }else if(item.type=='type_radio'){ %>
                  <div class="survey-body">
                     <div class="custom-form">
                        <% item.options.forEach(function(option, index_inner) { %>
                        <div class="form-check">
                           <input type="radio" class="form-check-input" id="<%- item.name %><%- index_inner+1 %>" name="question_<%- index+1 %>" value="<%- option %>">
                           <label class="form-check-label" for="<%- item.name %><%- index_inner+1 %>"><%- option %></label>
                        </div>
                        <% }); %>
                     </div>
                  </div>
                <% }else if(item.type=='type_checkbox'){ %>
                  <div class="survey-body">
                     <div class="custom-form">
                        <% item.options.forEach(function(option, index_inner) { %>
                        <div class="form-check">
                           <input type="checkbox" class="form-check-input" id="<%- item.name %><%- index_inner+1 %>" name="question_<%- index+1 %>_<%- index_inner+1 %>" value="<%- option %>">
                           <label class="form-check-label" for="<%- item.name %><%- index_inner+1 %>"><%- option %></label>
                        </div>
                        <% }); %>
                      </div>
                  </div>
                <% }else if(item.type=='type_ratings'){ %>
                  <div class="survey-body">
                     <div class="survey-rating">
                        <div class="survey-rating-part">
                           Disappointing
                        </div>
                        <div class="survey-rating-part">
                           <ul>
                              <% AllRatingTags.forEach(function(rating, index_inner) { %>
                                 <li>
                                    <div class="rating_each_option">
                                       <input type="radio" id="<%- item.type %>_<%- index+1 %>_<%- index_inner+1 %>" name="question_<%- index+1 %>" value="<%- rating.review_rating_value %>">
                                       <label class="form-check-label" for="<%- item.type %>_<%- index+1 %>_<%- index_inner+1 %>"><img src="/<%- rating.rating_image %>" alt="<%- rating.review_rating_name %>"></label>
                                    </div>
                                 </li>
                              <% }); %>
                           </ul>
                        </div>
                        <div class="survey-rating-part">
                           Excellent
                        </div>
                     </div>
                  </div>
                <% }else{ %>
                  <p>Answer type not define</p>
                <% } %>
             </div>
            <% }); %>
             <div class="text-center mt-5"><input type="submit" class="btn-default btn-warning" value="Submit"></div>
          </form>
       </div>
    </div>
 </section>
<!-- ============== Section1 End =============== -->

<%- include('common/footer') -%>   